# Simple crossover with short explanation

In [1]:
import pandas as pd
import matplotlib as mp
import numpy as np
import talib as ta
import yfinance  as yf
from talib import abstract

# Load historical price data
data = pd.read_csv('1d.csv')
data2 = pd.read_csv('1h.csv')
# Display the first few rows of the data
print(data.head())

         time     open     high      low    close  EMA  Smoothing Line  \
0  17/08/2017  4261.48  4485.39  4200.74  4285.08  NaN             NaN
1  18/08/2017  4285.08  4371.52  3938.77  4108.37  NaN             NaN
2  19/08/2017  4108.37  4184.69  3850.00  4139.98  NaN             NaN
3  20/08/2017  4120.98  4211.08  4032.62  4086.29  NaN             NaN
4  21/08/2017  4069.13  4119.62  3911.79  4016.00  NaN             NaN

   Unnamed: 7  Unnamed: 8
0         NaN         NaN
1         NaN         NaN
2         NaN         NaN
3         NaN         NaN
4         NaN         NaN

### Here I worked with pandas (deleted extra columns)

In [2]:
data = data.drop(['Unnamed: 7', 'Unnamed: 8'], axis=1) #rows (axis=0) or columns (axis=1)

In [3]:
data

,time,open,high,low,close,EMA,Smoothing Line
0,17/08/2017,4261.48,4485.39,4200.74,4285.08,NaN,NaN
1,18/08/2017,4285.08,4371.52,3938.77,4108.37,NaN,NaN
2,19/08/2017,4108.37,4184.69,3850.00,4139.98,NaN,NaN
3,20/08/2017,4120.98,4211.08,4032.62,4086.29,NaN,NaN
4,21/08/2017,4069.13,4119.62,3911.79,4016.00,NaN,NaN
...,...,...,...,...,...,...,...
2348,21/01/2024,41696.05,41881.39,41500.98,41580.33,35325.312850,35325.312850
2349,22/01/2024,41580.32,41689.65,39431.58,39568.02,35367.528844,35367.528844
2350,23/01/2024,39568.02,40176.74,38555.00,39897.60,35412.604179,35412.604179
2351,24/01/2024,39897.59,40555.00,39484.19,40084.88,35459.094486,35459.094486
2352,25/01/2024,40084.89,40178.84,39792.01,39885.93,35503.142600,35503.142600

In [4]:
?pd.read_csv #this is a very intresting method to checking some usefull information fast

Object `pd.read_csv #this is a very intresting method to checking some usefull information fast` not found.

### Here I tried TA-LIB, Yfinance

In [5]:
?ta.EMA

Signature: ta.EMA(real, timeperiod=-2147483648)
Docstring:
EMA(real[, timeperiod=?])

Exponential Moving Average (Overlap Studies)

Inputs:
    real: (any ndarray)
Parameters:
    timeperiod: 30
Outputs:
    real
Type:      function

In [6]:
new_data = yf.download('TSLA', start= '2010-01-01', end= '2020-03-18')

[*********************100%%**********************]  1 of 1 completed

In [7]:
new_data

                 Open       High        Low      Close  Adj Close     Volume
Date
2010-06-29   1.266667   1.666667   1.169333   1.592667   1.592667  281494500
2010-06-30   1.719333   2.028000   1.553333   1.588667   1.588667  257806500
2010-07-01   1.666667   1.728000   1.351333   1.464000   1.464000  123282000
2010-07-02   1.533333   1.540000   1.247333   1.280000   1.280000   77097000
2010-07-06   1.333333   1.333333   1.055333   1.074000   1.074000  103003500
...               ...        ...        ...        ...        ...        ...
2020-03-11  42.680000  43.571999  40.866669  42.282001  42.282001  199837500
2020-03-12  38.726002  39.633331  36.416668  37.369999  37.369999  283636500
2020-03-13  39.666668  40.504665  33.466667  36.441334  36.441334  339604500
2020-03-16  31.299999  32.991333  29.478001  29.671333  29.671333  307342500
2020-03-17  29.334000  31.456667  26.400000  28.680000  28.680000  359919000

[2446 rows x 6 columns]

In [8]:
aaroon = ta.AROONOSC(new_data['High'],new_data['Low'], timeperiod = 14)                        #USE shift + tab

In [9]:
# in aaroon oscilator indicator -100 means downward trend

In [10]:
cdlengulfing = ta.CDLENGULFING(new_data['Open'],new_data['High'],new_data['Low'],new_data['Close']) #BUT It's much better to use abstract API in talib

In [11]:
data.rename(columns =  {'Open':'open', 'High': 'high', 'Low': 'low', 'Adj Close': 'close', 'Volume' : 'volume'},inplace = True ) #name converter

In [12]:
data

,time,open,high,low,close,EMA,Smoothing Line
0,17/08/2017,4261.48,4485.39,4200.74,4285.08,NaN,NaN
1,18/08/2017,4285.08,4371.52,3938.77,4108.37,NaN,NaN
2,19/08/2017,4108.37,4184.69,3850.00,4139.98,NaN,NaN
3,20/08/2017,4120.98,4211.08,4032.62,4086.29,NaN,NaN
4,21/08/2017,4069.13,4119.62,3911.79,4016.00,NaN,NaN
...,...,...,...,...,...,...,...
2348,21/01/2024,41696.05,41881.39,41500.98,41580.33,35325.312850,35325.312850
2349,22/01/2024,41580.32,41689.65,39431.58,39568.02,35367.528844,35367.528844
2350,23/01/2024,39568.02,40176.74,38555.00,39897.60,35412.604179,35412.604179
2351,24/01/2024,39897.59,40555.00,39484.19,40084.88,35459.094486,35459.094486
2352,25/01/2024,40084.89,40178.84,39792.01,39885.93,35503.142600,35503.142600

### Abstract function in Talib

aaroon = ta.AROONOSC(new_data['High'],new_data['Low'], timeperiod = 14)

In [13]:
EMA_abstract = abstract.EMA(data, timeperiod=100) #It's much shorter and more convenient

In [14]:
EMA_abstract

0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
            ...
2348    39271.101515
2349    39276.981089
2350    39289.270572
2351    39305.025214
2352    39316.528279
Length: 2353, dtype: float64

### Pandas-ta

In [15]:
pip install pandas-ta

Requirement already satisfied: pandas-ta in /Users/smidolt/anaconda3/envs/Newona/lib/python3.10/site-packages (0.3.14b0)
Requirement already satisfied: pandas in /Users/smidolt/anaconda3/envs/Newona/lib/python3.10/site-packages (from pandas-ta) (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/smidolt/anaconda3/envs/Newona/lib/python3.10/site-packages (from pandas->pandas-ta) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/smidolt/anaconda3/envs/Newona/lib/python3.10/site-packages (from pandas->pandas-ta) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/smidolt/anaconda3/envs/Newona/lib/python3.10/site-packages (from pandas->pandas-ta) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/smidolt/anaconda3/envs/Newona/lib/python3.10/site-packages (from pandas->pandas-ta) (2023.4)
Requirement already satisfied: six>=1.5 in /Users/smidolt/anaconda3/envs/Newona/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas->pandas-ta) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [16]:
import pandas_ta as ta

In [17]:
df = pd.DataFrame()

In [18]:
df = df.ta.ticker('AAPL', period = '5y')

In [19]:
df.ta.log_return(cumulative=True, append = True)

Date
2019-02-07 00:00:00-05:00    0.000000
2019-02-08 00:00:00-05:00    0.001174
2019-02-11 00:00:00-05:00   -0.004593
2019-02-12 00:00:00-05:00    0.003987
2019-02-13 00:00:00-05:00   -0.000176
                               ...
2024-01-31 00:00:00-05:00    1.503108
2024-02-01 00:00:00-05:00    1.516360
2024-02-02 00:00:00-05:00    1.510941
2024-02-05 00:00:00-05:00    1.520739
2024-02-06 00:00:00-05:00    1.529334
Name: CUMLOGRET_1, Length: 1258, dtype: float64

In [20]:
df.ta.ema(200, cumulative=True, append = True)

Date
2019-02-07 00:00:00-05:00           NaN
2019-02-08 00:00:00-05:00           NaN
2019-02-11 00:00:00-05:00           NaN
2019-02-12 00:00:00-05:00           NaN
2019-02-13 00:00:00-05:00           NaN
                                ...
2024-01-31 00:00:00-05:00    179.688249
2024-02-01 00:00:00-05:00    179.759610
2024-02-02 00:00:00-05:00    179.820211
2024-02-05 00:00:00-05:00    179.898417
2024-02-06 00:00:00-05:00    179.991966
Name: EMA_200, Length: 1258, dtype: float64

In [21]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,CUMLOGRET_1,EMA_200
Date,,,,,,,,,
2019-02-07 00:00:00-05:00,41.367846,41.737375,40.873544,41.017517,126966800,0.0000,0.0,0.000000,NaN
2019-02-08 00:00:00-05:00,40.723514,41.125954,40.586153,41.065708,95280000,0.1825,0.0,0.001174,NaN
2019-02-11 00:00:00-05:00,41.219941,41.258499,40.786173,40.829548,83973600,0.0000,0.0,-0.004593,NaN
2019-02-12 00:00:00-05:00,40.991015,41.207897,40.894620,41.181389,89134000,0.0000,0.0,0.003987,NaN
2019-02-13 00:00:00-05:00,41.301870,41.564539,40.947627,41.010281,89960800,0.0000,0.0,-0.000176,NaN
...,...,...,...,...,...,...,...,...,...
2024-01-31 00:00:00-05:00,187.039993,187.100006,184.350006,184.399994,55467800,0.0000,0.0,1.503108,179.688249
2024-02-01 00:00:00-05:00,183.990005,186.949997,183.820007,186.860001,64885400,0.0000,0.0,1.516360,179.759610
2024-02-02 00:00:00-05:00,179.860001,187.330002,179.250000,185.850006,102518000,0.0000,0.0,1.510941,179.820211
2024-02-05 00:00:00-05:00,188.149994,189.250000,185.839996,187.679993,69668800,0.0000,0.0,1.520739,179.898417
2024-02-06 00:00:00-05:00,186.860001,189.309998,186.770004,189.300003,43309800,0.0000,0.0,1.529334,179.991966

In [22]:
df.ta.indicators()

Pandas TA - Technical Analysis Indicators - v0.3.14b0
Total Indicators & Utilities: 205
Abbreviations:
    aberration, above, above_value, accbands, ad, adosc, adx, alma, amat, ao, aobv, apo, aroon, atr, bbands, below, below_value, bias, bop, brar, cci, cdl_pattern, cdl_z, cfo, cg, chop, cksp, cmf, cmo, coppock, cross, cross_value, cti, decay, decreasing, dema, dm, donchian, dpo, ebsw, efi, ema, entropy, eom, er, eri, fisher, fwma, ha, hilo, hl2, hlc3, hma, hwc, hwma, ichimoku, increasing, inertia, jma, kama, kc, kdj, kst, kurtosis, kvo, linreg, log_return, long_run, macd, mad, massi, mcgd, median, mfi, midpoint, midprice, mom, natr, nvi, obv, ohlc4, pdist, percent_return, pgo, ppo, psar, psl, pvi, pvo, pvol, pvr, pvt, pwma, qqe, qstick, quantile, rma, roc, rsi, rsx, rvgi, rvi, short_run, sinwma, skew, slope, sma, smi, squeeze, squeeze_pro, ssf, stc, stdev, stoch, stochrsi, supertrend, swma, t3, td_seq, tema, thermo, tos_stdevall, trima, trix, true_range, tsi, tsignals, ttm_trend, ui, uo, variance, vhf, vidya, vortex, vp, vwap, vwma, wcp, willr, wma, xsignals, zlma, zscore

Candle Patterns:
    2crows, 3blackcrows, 3inside, 3linestrike, 3outside, 3starsinsouth, 3whitesoldiers, abandonedbaby, advanceblock, belthold, breakaway, closingmarubozu, concealbabyswall, counterattack, darkcloudcover, doji, dojistar, dragonflydoji, engulfing, eveningdojistar, eveningstar, gapsidesidewhite, gravestonedoji, hammer, hangingman, harami, haramicross, highwave, hikkake, hikkakemod, homingpigeon, identical3crows, inneck, inside, invertedhammer, kicking, kickingbylength, ladderbottom, longleggeddoji, longline, marubozu, matchinglow, mathold, morningdojistar, morningstar, onneck, piercing, rickshawman, risefall3methods, separatinglines, shootingstar, shortline, spinningtop, stalledpattern, sticksandwich, takuri, tasukigap, thrusting, tristar, unique3river, upsidegap2crows, xsidegap3methods

### Pandas-ta strategies

In [23]:
# (1) (example from https://github.com/twopirllc/pandas-ta?tab=readme-ov-file#pandas-ta-strategy)
MyStrategy = ta.Strategy(
    name="DCSMA10",
    ta=[
        {"kind": "ohlc4"},
        {"kind": "sma", "length": 10},
        {"kind": "donchian", "lower_length": 10, "upper_length": 15},
        {"kind": "ema", "close": "OHLC4", "length": 10, "suffix": "OHLC4"},
    ]
)
df.ta.strategy(MyStrategy)

In [24]:
inf = df.ta.categories

In [25]:
inf

['candles',
 'cycles',
 'momentum',
 'overlap',
 'performance',
 'statistics',
 'trend',
 'volatility',
 'volume']

In [26]:
df.ta.strategy(5)

[X] Not an available strategy.

### Work plan

Data Import: Load the price data from your CSV file into a DataFrame using the pandas.read_csv function. Since you have two files, one with daily data and the other with hourly data, you can choose the appropriate file based on the timeframe you want to work with

Calculate EMA: Use the talib library or implement a function to calculate the 200 EMA for the price data. Here's an example of how to calculate the EMA of a stock with Python
Implement the Strategy: Once you have the price data and the EMA values, you can implement the crossover strategy. For a buy signal, you can use the condition "price > 200 EMA," and for a sell signal, the opposite condition can be used
Backtesting: It's essential to backtest the strategy to evaluate its performance. You can use a simple 5-step framework to backtest your strategy and evaluate its performance
Visualization: Visualize the price data and the EMA values to gain a better understanding of the strategy's performance. You can use libraries like matplotlib for this purpose

### Another project

In [27]:
import talib
# Assuming you have a pandas DataFrame called 'data' with a column 'close' containing the stock's closing prices
data["200EMA"] = talib.EMA(data["close"], timeperiod=200)

In [28]:
# Create a column to signal when the price crosses above the 200 EMA
data['Signal'] = 0
data['Signal'][data['close'] > daych['EMA']] = 1

# Create a column to signal when the price crosses below the 200 EMA
data['Signal'][data['close'] < daych['EMA']] = -1

# Display the data with signals
print(data[['close', 'EMA', 'Signal']].head())

NameError: name 'daych' is not defined

In [ ]:
import pandas as pd

# Load historical price data
daych = pd.read_csv('1d.csv')
data = pd.read_csv('1h.csv')

# Convert 'time' column to datetime
data['time'] = pd.to_datetime(data['time'])
daych['time'] = pd.to_datetime(daych['time'])

# Set 'time' as the index
data.set_index('time', inplace=True)
daych.set_index('time', inplace=True)

# Create a column to signal when the price crosses above the 200 EMA
data['Signal'] = 0
data.loc[data['close'] > daych['EMA'], 'Signal'] = 1

# Create a column to signal when the price crosses below the 200 EMA
data.loc[data['close'] < daych['EMA'], 'Signal'] = -1

# Display the data with signals
print(data[['close', 'EMA', 'Signal']].head())