# Simple crossover with short explanation

In [ ]:
import pandas as pd
import matplotlib as mp
import numpy as np
import talib as ta
import yfinance  as yf

# Load historical price data
data = pd.read_csv('1d.csv')
data2 = pd.read_csv('1h.csv')
# Display the first few rows of the data
print(data.head())

### Here I worked with pandas (deleted extra columns)

In [ ]:
data = data.drop(['Unnamed: 7', 'Unnamed: 8'], axis=1) #rows (axis=0) or columns (axis=1)

In [ ]:
data

In [ ]:
?pd.read_csv #this is a very intresting method to checking some usefull information fast

Here i tried TA-LIB, Yfinance

In [ ]:
?ta.EMA

In [ ]:
new_data = yf.download('TSLA', start= '2010-01-01', end= '2020-03-18')

In [19]:
new_data

                 Open       High        Low      Close  Adj Close     Volume
Date
2010-06-29   1.266667   1.666667   1.169333   1.592667   1.592667  281494500
2010-06-30   1.719333   2.028000   1.553333   1.588667   1.588667  257806500
2010-07-01   1.666667   1.728000   1.351333   1.464000   1.464000  123282000
2010-07-02   1.533333   1.540000   1.247333   1.280000   1.280000   77097000
2010-07-06   1.333333   1.333333   1.055333   1.074000   1.074000  103003500
...               ...        ...        ...        ...        ...        ...
2020-03-11  42.680000  43.571999  40.866669  42.282001  42.282001  199837500
2020-03-12  38.726002  39.633331  36.416668  37.369999  37.369999  283636500
2020-03-13  39.666668  40.504665  33.466667  36.441334  36.441334  339604500
2020-03-16  31.299999  32.991333  29.478001  29.671333  29.671333  307342500
2020-03-17  29.334000  31.456667  26.400000  28.680000  28.680000  359919000

[2446 rows x 6 columns]

In [18]:
aaroon = ta.AROONOSC(new_data['High'],new_data['Low'], timeperiod = 14)                        #USE shift + tab

In [17]:
# in aaroon oscilator indicator -100 means downward trend

In [21]:
cdlengulfing = ta.CDLENGULFING(new_data['Open'],new_data['High'],new_data['Low'],new_data['Close']) #BUT It's much better to use abstract API in talib

Data Import: Load the price data from your CSV file into a DataFrame using the pandas.read_csv function. Since you have two files, one with daily data and the other with hourly data, you can choose the appropriate file based on the timeframe you want to work with
-----
Calculate EMA: Use the talib library or implement a function to calculate the 200 EMA for the price data. Here's an example of how to calculate the EMA of a stock with Python
-----
Implement the Strategy: Once you have the price data and the EMA values, you can implement the crossover strategy. For a buy signal, you can use the condition "price > 200 EMA," and for a sell signal, the opposite condition can be used
-----
Backtesting: It's essential to backtest the strategy to evaluate its performance. You can use a simple 5-step framework to backtest your strategy and evaluate its performance
-----
Visualization: Visualize the price data and the EMA values to gain a better understanding of the strategy's performance. You can use libraries like matplotlib for this purpose
-----

In [ ]:
!pip install ta-lib

In [ ]:
import talib
# Assuming you have a pandas DataFrame called 'data' with a column 'close' containing the stock's closing prices
data["200EMA"] = talib.EMA(data["close"], timeperiod=200)

In [ ]:
# Create a column to signal when the price crosses above the 200 EMA
data['Signal'] = 0
data['Signal'][data['close'] > daych['EMA']] = 1

# Create a column to signal when the price crosses below the 200 EMA
data['Signal'][data['close'] < daych['EMA']] = -1

# Display the data with signals
print(data[['close', 'EMA', 'Signal']].head())

In [ ]:
import pandas as pd

# Load historical price data
daych = pd.read_csv('1d.csv')
data = pd.read_csv('1h.csv')

# Convert 'time' column to datetime
data['time'] = pd.to_datetime(data['time'])
daych['time'] = pd.to_datetime(daych['time'])

# Set 'time' as the index
data.set_index('time', inplace=True)
daych.set_index('time', inplace=True)

# Create a column to signal when the price crosses above the 200 EMA
data['Signal'] = 0
data.loc[data['close'] > daych['EMA'], 'Signal'] = 1

# Create a column to signal when the price crosses below the 200 EMA
data.loc[data['close'] < daych['EMA'], 'Signal'] = -1

# Display the data with signals
print(data[['close', 'EMA', 'Signal']].head())